[submodule "spikes/spike-a/rv32emu"]
	path = spikes/spike-a/rv32emu
	url = https://github.com/sysprog21/rv32emu.git
	ignore = untracked
[submodule "spikes/spike-a/coremark"]
	path = spikes/spike-a/coremark
	url = https://github.com/eembc/coremark.git
[submodule "spikes/spike-a/berkeley-softfloat-3"]
	path = spikes/spike-a/berkeley-softfloat-3
	url = https://github.com/ucb-bar/berkeley-softfloat-3.git
[submodule "spikes/spike-a/embench-iot"]
	path = spikes/spike-a/embench-iot
	url = https://github.com/embench/embench-iot.git
